@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Almost-White);
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(2, 50%);
}

/* --------------Header Section -------------------- */

header {
    width: 100%;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.logo {
    margin: .5rem;
    width: 6.5rem;
    height: 2rem;
}

.logo img {
    width: 5.5rem;
    height: 2rem;
}

.links {
    width: 29rem;
    font-size: 1rem;
    display: flex;
    color: var(--Medium-Gray);
}

.links p {
    padding: .8rem;
}

.user-section {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: .5rem;
    margin-left: 40rem;
    color: var(--Medium-Gray);
}

.user-section p {
    font-size: .8rem;
}

.user-section button {
    width: 4.7rem;
    height: 2rem;
    font-size: .8rem;
    border: 1px solid var(--Medium-Gray);
    border-radius: .7rem;
    color: var(--Medium-Gray);
    background-color: var(--Almost-White);
}

.icon-menu{
    display: none;
}

/* ---------------------content section---------------- */


.desc {
    width: 100%;
    padding-top: 4.7rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 2rem;
}

.desc-part {
    padding: 0 6rem;
    margin-bottom: 6rem;
    margin-top: 3.5rem;
}

.desc-part h1 {
    font-weight: 700;
    font-size: 3.3rem;
    color: var(--Almost-Black);
    margin: 2rem 0;
}

.desc-part p {
    color: var(--Medium-Gray);
    font-size: .9rem;
    line-height: 1.3rem;
    margin-bottom: 2.5rem;

}

.desc-part button {
    color: var(--Almost-White);
    font-weight: 700;
    width: 7rem;
    height: 2.3rem;
    border-radius: 10px;
    background: var(--Almost-Black);
    border: none;
    cursor: pointer;

}

.footer {
    width: 29rem;
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    align-items: center;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-top: 3rem;
}

.image img {
    width: 65%;
    height: 94%;
    object-fit: contain;
}

/* -----------Active state------------------ */

.desc-part button:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
}

.about:hover {
    cursor: pointer;
    color: var(--Almost-Black);
}

.user-section button:hover {
    cursor: pointer;
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
}

.user-section p:hover {
    cursor: pointer;
    color: var(--Almost-Black);
}

.feature-list {
    width: 7.3rem;
    height: auto;
    padding: 1rem;
    background-color: var(--Almost-White);
    box-shadow: 5px 5px 25px -9px var(--Medium-Gray);
    border-radius: 10px;
    margin-left: 2rem;
    position: absolute;
    top: 55px;
    left: 45px;
    display: none;
}

.feature-list.active {
    display: block;
}

.feature-list li {
    list-style: none;
    font-size: .7rem;
    color: var(--Medium-Gray);
    padding: .3rem 0;

}

.feature-list li img {
    margin-right: .6rem;
}

.company-list {
    width: 5.5rem;
    height: auto;
    padding: 1rem;
    background-color: var(--Almost-White);
    box-shadow: 5px 5px 25px -9px var(--Medium-Gray);
    border-radius: 10px;
    margin-left: 2rem;
    position: absolute;
    top: 55px;
    left: 170px;
    display: none;
}

.company-list.active {
    display: block;
}


.company-list li {
    list-style: none;
    font-size: .7rem;
    color: var(--Medium-Gray);
    padding: .3rem 0;
}

.features:hover,
.company:hover {
    cursor: pointer;
    color: var(--Almost-Black);
}

.icon-close-menu {
    display: none;
}

.menu-list-component {
    display: none;
}


/* ------------------dropdown icon--------------------------------- */
.dropIcon {
    transition: transform 0.5s ease-in;
}


.features.active .dropIcon {
    transform: rotate(180deg);
}


/* =====================media queries============================= */

@media screen and (max-width: 375px) {

    /* body {
        overflow: hidden;
    } */

    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 7% 40% 53%;
        grid-template-columns: 100%;
        margin-top: .5rem;
    }

    header {
        width: 100%;
        height: 5rem;
        display: flex;
        margin-top: .5rem;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }


    .logo {
        margin: 0 .5rem;
        width: 6.5rem;
        height: 2rem;
    }

    .logo img {
        width: 5.5rem;
        height: 2rem;
    }

    .links {
        display: none;
    }

    .user-section {
        display: none;
    }

    .icon-menu {
        /* border: 1px solid red; */
        display: block;
        margin-left: 13rem;
    }

    .desc {
        width: 100vw;
        padding-top: 1rem;
        margin-left: 0;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .desc-part {
        padding: 0 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
        text-align: center;
    }

    .desc-part h1 br {
        display: none;
    }

    .desc-part h1 {
        font-weight: 700;
        font-size: 2.1rem;
        color: var(--Almost-Black);
        margin: 1rem 0;

    }

    .desc-part p {
        color: var(--Medium-Gray);
        font-size: .8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;

    }

    .desc-part button {
        font-weight: 700;
        width: 7rem;
        height: 2.3rem;
        border-radius: 10px;


    }

    .footer {
        width: 21rem;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        align-items: center;
    }

    .footer img {
        width: 4rem;
    }

    .image {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-top: 0;
    }

    .image img {
        content: url("./images/image-hero-mobile.png");
        width: 100%;
        height: 100%;
    }

    .menu-list-component{
        height: 41rem;
        width: 100vw;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .menu-list-component.showHide {
        display: block;
    }

    .transparent-side {
        height: 41rem;
        width: 8.2rem;
        background-color: var(--Almost-Black);
        opacity: .6;
    }

    .menu-list {
        height: 40.9rem;
        width: 15rem;
        background-color: var(--Almost-White);
        position: absolute;
        top: 0;
        left: 8.2rem;
    }

    .icon-close-menu {
        display: flex;
        justify-content:flex-end;
        padding-right: 10px;
        padding-top: 10px;
    }

    .icon-close-menu img {
        width: 1.5rem; 
    }

    .links-list {
        width: 10rem;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
        margin-top: 2rem;
    }

    .feature-list-mobile {
        padding: 0 1rem;
        margin-left: 1rem;
        display: none;
    }

    .feature-list-mobile li {
        list-style: none;
        font-size: .8rem;
        color: var(--Medium-Gray);
        padding: .3rem 0;
    }

    .feature-list-mobile.active {
        display: block;
    }

    .company-list-mobile {
        padding: 0 1rem;
        margin-left: 1rem;
        display: none;
    }

    .company-list-mobile li {
        list-style: none;
        font-size: .8rem;
        color: var(--Medium-Gray);
        padding: .3rem 0;
    }
    .company-list-mobile.active {
        display: block;
    }

    .links-list p {
        padding: 12px;
        font-size: .8rem;
        color: var(--Medium-Gray);
    }

    .links-list p img {
        margin-left: .5rem;
    }

    .feature-list {
        width: 7.3rem;
        height: auto;
        padding: 1rem;
        background-color: var(--Almost-White);
        box-shadow: 5px 5px 25px -9px var(--Medium-Gray);
        border-radius: 10px;
        margin-left: 2rem;
        position: absolute;
        top: 0px;
        left: 0px;
        /* display: none; */
    }



    .user-section-mini{
        width: 15rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0rem;
        color: var(--Medium-Gray);
    }

    .user-section-mini p {
        font-size: 1rem;
        margin-bottom: .8rem;
        cursor: pointer;
    }

    .user-section-mini button {
        width: 12rem;
        height: 2.2rem;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid var(--Medium-Gray);
        border-radius: .7rem;
        color: var(--Medium-Gray);
        background-color: var(--Almost-White);
    }
