@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Almost-White);
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
}

/* --------------Header Section -------------------- */

header {
    width: 100%;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.logo {
    margin: .5rem;
    width: 6rem;
    height: 1.5rem;
}

.logo img {
    width: 4.5rem;
    height: 1.5rem;
}

.about {
    width: 20rem;
    height: .8rem;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    color: var(--Medium-Gray);
    margin: .5rem;
}

.user-section {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: .5rem;
    margin-left: 45rem;
    color: var(--Medium-Gray);
}

.user-section p {
    font-size: .8rem;
}

.user-section button {
    width: 4.7rem;
    height: 2rem;
    font-size: .8rem;
    border: 1px solid var(--Medium-Gray);
    border-radius: .7rem;
    color: var(--Medium-Gray);
    background-color: var(--Almost-White);
}

/* ---------------------content section---------------- */

.content {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 83vh;
}

.desc {
    width: 50%;
    /* border: 1px solid red; */
}

.desc-part {
    padding: 0 6rem;
    margin-bottom: 6rem;
}

.desc-part h1 {
    font-weight: 700;
    font-size: 3.3rem;
    color: var(--Almost-Black);
    margin: 2rem 0;
}

.desc-part p {
    color: var(--Medium-Gray);
    font-size: .9rem;
    line-height: 1.3rem;
    margin-bottom: 2.5rem;
}

.desc-part button {
    color: var(--Almost-White);
    font-weight: 700;
    width: 7rem;
    height: 2.3rem;
    border-radius: 10px;
    background: var(--Almost-Black);
    border: none;
}

.footer {
    width: 29rem;
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    align-items: center;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 65%;
    height: 85%;
    object-fit:contain;
}

